body {
    margin: 0;
    padding: 0;
}

.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vw;
    -webkit-tap-highlight-color: transparent;
}

.slide {
    max-height: 100vh;
    max-width: 100%;
    cursor: pointer;
}

.hFrame {
    position: fixed;
    z-index: 1001;
    top: 0;
    height: 100vh;
    align-items: center;
    display: none;
    opacity: 0%;
    transition: opacity .5s;
}




.hFrame-slide {
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    transition: all .5s;

}

.hFrame-slide-img {
    transform: translate(-50%, -50%) scale(80%);
    max-height: 100vh;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;

    user-select: none;
    /* opacity: 50%; */
}

.hFrame.right {
    cursor: url("./img/cursor_next.svg") 9 9, pointer;
}

.hFrame.left {
    cursor: url("./img/cursor_prev.svg") 9 9, pointer;
}




.carousel-filter {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    display: none;
    transition: all .5s;
}


.carousel-prev, .carousel-next {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50vw;
    z-index: 1;
}

.carousel-next {
    right: 0;
   
}




.carousel-close {
    position: fixed;
    z-index: 2;
    top: 20px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
}



